@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.mainModuleContainer{
    position: absolute;
    display: flex;
    background-color: #637FA8;
    border-radius: 16px 100px 100px 16px;
    height: 170px;
    width: 600px;
  }
  
  .catModulePic{
    border-radius: 16px;
    width: 170px;
    height: 170px;
    object-fit: cover;
  }
  
  .catName{
    font-size: 25px;
    text-decoration: underline;
  }
  
  .catModuleTextBox{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    color: azure;
    text-indent: 10px;
    width: 500px;
    height: 170px;
    border-left: 500px;
  }
  
  .purrchaseKittyButton{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10px;
    font-style: bold;
    padding: 5px 5px 5px 5px;
    border-radius: 20px;
    float: middle;
  }