
* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: darkblue;
}

#titleWithPics {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 26vh;
}

#pre-ribbon {
    display: flex;
    flex: 20;
    position: relative;
    align-items: center;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: white;
    font-size: small;
}

#top-ribbon {
    display: flex;
    flex: 30;
    position: relative;
    align-items: center;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    padding: 0px;
    margin: 0px;
    background-color: white;
}

#tp-rib-left {
    flex: 6;
    position: relative;
    align-items: center;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    padding: 2px;
    background-color: darkblue;
}

#tp-rib-right {
    flex: 3;
    position: relative;
    align-items: center;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    padding: 2px;
    background-color: white;
}

#white-banner {
    display: flex;
    flex: 100;
    position: relative;
    align-items: center;
    align-items: stretch;
    justify-content: center;
    text-align: center;
}

#drone-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    background-color: white;
    font-weight: bold;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
#drone-top {
    flex: 1;
    font-weight: bold;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.catDrone {
    max-height: 60%;
    max-width: 100%;
    padding: 0px;
    margin: 0px;
}

#drone-botm {
    flex: 1;
    overflow: auto;
    font-weight: bold;
    text-align: center;
    padding: 0px;
    margin: 0px;
    height: 60%;
}

#left-panel {
    flex: 4;
    overflow: auto;
    background-color: white;
    font-weight: bold;
    text-align: center;
    padding: 2px;
}

#title-panel {
    display: flex;
    flex: 1;
    background-color: white;
    padding: 0px;
    margin: 0px;
    align-items: center;
}

#title-panel h1 {
    flex: 1;
    background-color: white;
    font-weight: bold;
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: darkblue;
    height: 100%; 
    text-align: center;
    position:relative;
    top:10%;
    bottom:20%;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
}

#kid-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    background-color: white;
    font-weight: bold;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

#kid-top {
    flex: 1;
    overflow: auto;
    font-weight: bold;
    text-align: center;
    padding: 0px;
    margin: 0px;
    height: 60%;
}

#kid-botm {
    flex: 1;
    font-weight: bold;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.kidVector {
    max-height: 60%;
    max-width: 100%;
    padding: 0px;
    margin: 0px;
}

#right-panel {
    flex: 4;
    overflow: auto;
    background-color: white;
    font-weight: bold;
    text-align: center;
    padding: 2px;
}

#mid-ribbon {
    display: flex;
    flex: 3;
    position: relative;
    align-items: center;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    padding: 2px;
    background-color: white;
}

#mid-rib-left {
    display: flex;
    flex: 3;
    position: relative;
    align-items: center;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    padding: 2px;
    background-color: white;
}

#mid-rib-right {
    display: flex;
    flex: 6;
    position: relative;
    align-items: center;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    padding: 2px;
    background-color: darkblue;
}

#botm-ribbon {
    display: flex;
    flex: 20;
    position: relative;
    align-items: center;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    padding: 0px;
    margin: 0px;
    background-color: white;
    font-size:x-small;
    font-weight:bold;
    color: darkblue;
}
